<header class="header-container">
    <h1>HCSBK</h1>
    <div class="header-user">
        <i class="fa-regular fa-user"></i>
        <h2>Тлеукен Куляш</h2>
    </div>
    <div class="header-item">
        <div class="header-table">
            <i class="fa-solid fa-chevron-right"></i>
            <a href="" class="header-a1">База знаний</a>
        </div>
        <a href="" class="header-a2">УРС</a>
        <a href="" class="header-a2" id="header-a2">УMиCD</a>
        <a href="" class="header-a2">УМЭРИТС</a>
        <a href="" class="header-a2">УАБД</a>
        <a href="" class="header-a2">УПИТИ</a>
        <a href="" class="header-a3">ВНД</a>
    </div>
    <div class="header-exit">
        <i class="fa-solid fa-right-from-bracket"></i>
        <h3>Выход из системы</h3>
    </div>
</header>