<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/989563f7e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <div class="page0-container">
        <div class="page0-item">
            <h1 class="page0-big-text">HCSBK</h1>
            <div class="page0-mini-item">
                <h2 class="page0-text">Авторизация</h2>
                <a href="" class="page0-reg">Логин</a>
                <a href="" class="page0-reg">Пароль</a>
                <a href="" class="page0-enter">Войти</a>
            </div>
        </div>
    </div>

    <header class="header-container">
        <h1>HCSBK</h1>
        <div class="header-user">
            <i class="fa-regular fa-user"></i>
            <h2>Тлеукен Куляш</h2>
        </div>
        <div class="header-item">
            <div class="header-table">
                <i class="fa-solid fa-chevron-right"></i>
                <a href="" class="header-a1">База знаний</a>
            </div>
            <a href="" class="header-a2">УРС</a>
            <a href="" class="header-a2" id="header-a2">УMиCD</a>
            <a href="" class="header-a2">УМЭРИТС</a>
            <a href="" class="header-a2">УАБД</a>
            <a href="" class="header-a2">УПИТИ</a>
            <a href="" class="header-a3">ВНД</a>
        </div>
        <div class="header-exit">
            <i class="fa-solid fa-right-from-bracket"></i>
            <h3>Выход из системы</h3>
        </div>
    </header>

    
</body>
</html>