<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="page4-big">
        <%- include('partials/header.ejs')%>
        <div class="page3-container">
            <div class="page3-main">
                <h1><i class="fa-solid fa-arrow-left"></i>Ошибки</h1>
                <h2>АБИС Colvir</h2>
            </div>
            <div class="page3-block">
                <a href="" id="page3-blue">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
        </div>
    </div>
    <div class="page4-dark"></div>
    <div class="page4-container">
        <i class="fa-solid fa-xmark"></i>
        <img class="page4-img" style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://s3-alpha-sig.figma.com/img/017a/fcbc/f789f8269a56a8d558f242b56814af60?Expires=1719187200&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=jUuyTRbyvvF9LVnBfOJ9BamFuwILgyOLVXFiqW9z8vLJdHWI5oQmSrLtHPOSDTPz2Ioz117dxLePYJB0LE880B-MtTBIhziNnYr1wH5RjZtENKrsyMYW-avn6heN-KdArd-9KRSU2Pckc6e23C6ENOXUMzNNA5cukT0bMDNV1kWI3Wwp~c2HzHMMG801jBCLJjOtvcB9IQDW48NPJlumB1TsdZCSx61XfH~YRM0qEiiocy7fMUnEjty6Z5FQ5W5jbOwJmGRZbYqbryFWvCIRoE2qnG-9zBHKs~ycb3UHlvnMQByJbdOJK6rFpKWNxBICwabDyWEjlMtdmy1JniFV5g__">
        <h1>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. <br> Lorem Ipsum has been the industry's standard dummy text ever <br> since the 1500s, when an unknown printer took a galley of type and <br> scrambled it to make a type specimen book.</h1>
        <h2>Решение:</h2>
        <h3>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. <br> Lorem Ipsum has been the industry's standard dummy text ever <br> since the 1500s, when an unknown printer took a galley of type and <br> scrambled it to make a type specimen book.</h3>
    </div>
</body>
</html>
