<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="page3-big">
        <%- include('partials/header.ejs')%>
        <div class="page3-container">
            <div class="page3-main">
                <h1><i class="fa-solid fa-arrow-left"></i>Ошибки</h1>
                <h2>АБИС Colvir</h2>
            </div>
            <div class="page3-block">
                <a href="" id="page3-blue">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
            <div class="page3-block">
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
                <a href="">Блокирована рабочая станция</a>
            </div>
        </div>
    </div>
</body>
</html>