<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="page0-container">
        <div class="page0-item">
            <h1 class="page0-big-text">HCSBK</h1>
            <div class="page0-mini-item">
                <h2 class="page0-text">Авторизация</h2>
                <a href="" class="page0-reg">Логин</a>
                <a href="" class="page0-reg">Пароль</a>
                <a href="" class="page0-enter">Войти</a>
            </div>
        </div>
    </div>

    <!-- <%- include('partials/header.ejs')%> -->

    
</body>
</html>