<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="page10-big">
        <%- include('partials/header.ejs')%>
        <div class="page10-container">
            <div class="page10-main">
                <h6>ВНД</h6>
            </div>
            <a href="" class="page10-text" id="page10-blue">Правила обслуживания пользователей ИТ услуг, администрирования, сопровождения и восстановления информационной инфраструктуры АО «Отбасы банк»</a>
            <a href="" class="page10-text">Правила организации антивирусного контроля</a>
            <a href="" class="page10-text">Правила инвентаризации и паспортизации средств вычислительной техники, телекоммуникационного оборудования и программного обеспечения</a>
            <a href="" class="page10-text" id="page10-white">Правила организации физической защиты средств обработки информации и безопасной среды функционирования информационных ресурсов АО "Отбасы банк"</a>
            <a href="" class="page10-text">Правила (Регламент) резервного копирования и восстановления информации АО "Отбасы банк"</a>
            <a href="" class="page10-text">Правила уничтожения электронной информации и ее носителей в АО "Отбасы банк"</a>
            <a href="" class="page10-text">Правила использования средств криптографической защиты информации АО "Отбасы банк"</a>
            <a href="" class="page10-text">Методика совокупной стоимости владения систем информационных технологий АО "Отбасы банк"</a>
            <a href="" class="page10-text">Положение о Комитете по информационным ресурсам АО "Отбасы банк"</a>
            <a href="" class="page10-text">План восстановления работы информационных систем в АО "Отбасы банк"</a>
        </div>
    </div>
</body>
</html>