<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="page2-big">
        <%- include('partials/header.ejs')%>
        <div class="page2-container">
            <div class="page2-main">
                <h1><i class="fa-solid fa-arrow-left"></i>Доступы</h1>
                <h2>АБИС Colvir</h2>
            </div>
            <a href="" class="page2-search"><i class="fa-solid fa-magnifying-glass"></i>Поиск</a>
            <div class="page2-main-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-down"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-down"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-down"></i></a>
            </div>
            <div class="page2-item-text">
                <h1>Lorem Ipsum is simply dummy text of the print<br> ing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever<br> since the 1500s, when an unknown printer<br> took a galley of type and scrambled it to make<br> a type specimen book.</h1>
                <h1>Lorem Ipsum is simply dummy text of the print<br> ing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever<br> since the 1500s, when an unknown printer<br> took a galley of type and scrambled it to make<br> a type specimen book.</h1>
                <h1>Lorem Ipsum is simply dummy text of the print<br> ing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever<br> since the 1500s, when an unknown printer<br> took a galley of type and scrambled it to make<br> a type specimen book.</h1>
            </div>
            <div class="page2-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a> 
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="page2-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="page2-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="page2-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="page2-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="page2-tabs">
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
                <a href="">40-3-2<i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    
</body>
</html>