<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="page1-big">
        <%- include('partials/header.ejs')%>
        <div class="page1-container">
            <div class="page1-main-item">
                <a href="" class="page1-white1" id="page1-blue1">Системы</a>
                <a href="" class="page1-white1">Инструкции</a>
            </div>
            <a href="" class="page1-abis">АБИС Colvir <i class="fa-solid fa-chevron-down"></i></a>
            <div class="page1-item">
                <a href="" class="page1-white2" id="page1-blue2">Доступы</a>
                <a href="" class="page1-white2">Ошибки</a>
                <a href="" class="page1-white2">Инструкции</a>
            </div>
            <div class="pag1-container-tabs">
                <a href="" class="page1-tabs">BPM <i class="fa-solid fa-chevron-right"></i></a>
                <a href="" class="page1-tabs">BPM 2.0 <i class="fa-solid fa-chevron-right"></i></a>
                <a href="" class="page1-tabs">Ситуационный центр <i class="fa-solid fa-chevron-right"></i></a>
                <a href="" class="page1-tabs">СЭД Documentolog <i class="fa-solid fa-chevron-right"></i></a>
                <a href="" class="page1-tabs">Видеосервис <i class="fa-solid fa-chevron-right"></i></a>
                <a href="" class="page1-tabs">CRM <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    
</body>
</html>