.page3-big{
    display: flex;
}

.page3-container{
    margin: 4% 6%;
    width: 1250px;
}

.page3-main{
    display: flex;
    justify-content: space-between;
    color: #008B8A;
    font-size: 30px;
    margin-bottom: 7%;
    font-weight: 700;
}

.page3-main i{
    margin-right: 40px;
    font-size: 30px;
}

.page3-main h2{
    font-size: 23px;
    font-weight: 700;
}

.page3-block{
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
}

.page3-block a{
    color: #008B8A;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px 35px;
    margin-bottom: 40px;
    border: 1px solid #008B8A;
    font-weight: 600;
    font-size: 16px;
}

#page3-blue{
    color: #ffffff;
    background-color: #008B8A;
}
